
.score {
    background-color:rgba(15, 15, 15, 0.5);
    color: white;
    
}

.comp-pick {
    background: transparent;
    margin-top: 20px;
}

h4 {
    color: rgba(255, 255, 255, 0.7)
}

h2 {
    color: white;
}

.crystals {
    color: rgba(0, 0, 0, 0.6);    

}

h5, h4, h2 {
    font-family: 'Lato', sans-serif;
}

.total-score {
    font-size: 1.8rem;
}

.wins {
    background: transparent;
    float: right;
}

.losses {
    background: transparent;
    float: left;
}

.total {
    clear: both;
    background: transparent;
    margin-top: 10px;
    
} 

.images {
    padding: 7px;
    border: 1px solid darkgrey;
    border-radius: 3px;
}


@media screen and (max-width: 640px) {

    .losses {
        float: none;
        margin: auto;
    }
   
    .wins {
        float: none;
        margin: auto;
    }

    .score {   
        margin: auto;    
    }
  
  }
