
.score {
    background-color:rgba(15, 15, 15, 0.5);
    color: white;
    
}

body {
    background-image: url("assets/images/jonathan-larson-small-w.jpg"); 
    background-size: 100%;
}

.comp-pick {
    background: transparent;
    margin-top: 20px;
}

h4 {
    color: rgba(255, 255, 255, 0.7)
}

h2 {
    color: white;
}

.crystals {
    color: rgba(0, 0, 0, 0.6);    

}

h5, h4, h2 {
    font-family: 'Lato', sans-serif;
}

.total-score {
    font-size: 1.8rem;
}

.wins {
    background: transparent;
    float: right;
}

.losses {
    background: transparent;
    float: left;
}

.total {
    clear: both;
    background: transparent;
    margin-top: 10px;
    
} 

.images {
    padding: 5px;
    border: 1px solid darkgrey;
}

@media screen and (max-width: 640px) {

    .losses {
        clear: both;
        float: none;
        margin: auto;
        display: flex;
        justify-content: center;
    }
   
    .wins {
        clear: both;
        float: none;
        margin: auto;
        display: flex;
      

    }

    .score {
       
        margin: auto;
        
    }
  
  }
